extends layout  

block content
  div
    h1= "Jam Motion!"
 
  div
    div#connector
      div 
          label Server
          input#server
      button#connect Connect
   
    div#instruments
      div#owl-example.owl-carousel
        div(data-instrument="guitar")
          img(src="/images/guitar1.png",data-note="a").note1
          img(src="/images/guitar2.png",data-note="b").note2
          img(src="/images/guitar3.png",data-note="c").note3
        div(data-instrument="percussion")
          img(src="/images/drum1.png",data-note="a").note1
          img(src="/images/drum2.png",data-note="b").note2
          img(src="/images/drum3.png",data-note="c").note3
        div(data-instrument="drum-loop")
          img(src="/images/drum-small.jpg",data-note="a").note1
          img(src="/images/drum-small.jpg",data-note="b").note2
          img(src="/images/drum-small.jpg",data-note="stop").noteStop
        div(data-instrument="bass-loop")
          img(src="/images/guit-small.jpg",data-note="a").note1
          img(src="/images/guit-small.jpg",data-note="b").note2
          img(src="/images/guit-small.jpg",data-note="stop").noteStop

  div#msg Beat!
    
