extends layout  

block content
  div
    h1= "Jamation!"
 
  div
    div#connector
      div 
          label Server
          input#server(value='http://192.168.0.129')
      //-div
          label Name
          input#name(value='JamMan')
      button#connect Connect
   
    //-button#drum.instrument Drum
    div#instruments
      div#owl-example.owl-carousel
        div(data-instrument="guit")
          img(src="/images/guit-small.jpg",data-note=1).note1
          img(src="/images/guit-small.jpg",data-note=2).note2
          img(src="/images/guit-small.jpg",data-note=3).note3
        div(data-instrument="percussion")
          img(src="/images/synth-small.jpg",data-note=1).note1
          img(src="/images/synth-small.jpg",data-note=2).note2
          img(src="/images/synth-small.jpg",data-note=3).note3
        div(data-instrument="drum-loop")
          img(src="/images/drum-small.jpg",data-note=1).note1
          img(src="/images/drum-small.jpg",data-note=2).note2
          img(src="/images/drum-small.jpg",data-note=-1).note3
        div(data-instrument="bass-loop")
          img(src="/images/guit-small.jpg",data-note="c").note1
          img(src="/images/guit-small.jpg",data-note="e").note2
          img(src="/images/guit-small.jpg",data-note="g").note3

  div#msg Beat!
    
