extends layout  

block content
  h1= "Jamation!"

  div#connector
    div 
        label Server
        input#server(value='http://192.168.0.129')
    div
        label Name
        input#name(value='JamMan')
    button#connect Connect
   
  //-button#drum.instrument Drum
  div#instruments
    div#owl-example.owl-carousel
      div
          p ARPS
          img#bass(src="/images/drum-small.png",data-note=1)
          img#bass(src="/images/drum-small.png",data-note=2)
          img#bass(src="/images/drum-small.png",data-note=3)
      div
          img#juno(src="/images/guit-small.png",data-note="c")
          img#juno(src="/images/guit-small.png",data-note="e")
          img#juno(src="/images/guit-small.png",data-note="g")
      div
          img#H_closedhat_01_1SEC(src="/images/drum-small.png")
          img#JUNO_E(src="/images/drum-small.png")
          img#JUNO_G(src="/images/drum-small.png")
      div
          img#loop1(src="/images/lsd.jpg")       
      div
          img#loop2(src="/images/lsd.jpg")

  div#accel
    
</div>
