extends layout  

block content
  h1= "Jamation!"

  div#connector
    div 
        label Server
        input#server(value='http://192.168.0.129')
    div
        label Name
        input#name(value='JamMan')
    button#connect Connect
   
  //-button#drum.instrument Drum
  div#instruments
    div#owl-example.owl-carousel
      div
          img#guit(src="/images/guit.gif")
      div
          img#drum(src="/images/drum.jpg")
      div
          img#loop1(src="/images/lsd.jpg")

  div#accel
    
</div>
