doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/socket.io/socket.io.js" )
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jam.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jquery.ba-throttle-debounce.min.js')
    link(rel='stylesheet', href='/stylesheets/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', href='/stylesheets/owl-carousel/owl.theme.css')
    script(src='/javascripts/owl-carousel/owl.carousel.min.js')
    meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  body
    block content

