body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#instruments {
	display:none;
}

img {
	width: 100%;
}

owl-carousel div {
	min-height: 50%;
	height: 50%;
}

.note1 {
-webkit-filter: sepia(90%) hue-rotate(90deg);
}
.note2 {
-webkit-filter: sepia(90%) hue-rotate(0deg);
}
.note3 {
-webkit-filter: sepia(90%) hue-rotate(270deg);
}